::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: none;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  opacity: 0.5;
}

body {
  margin: 0;
  background: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

* {
  -webkit-user-drag: none;
}

button {
  padding: 0;
  border: none;
}

button:focus {
  outline: none;
}

.layout button {
  cursor: pointer;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border: 1px solid #77777e;
  border-radius: 0.25rem;
  font-weight: 600;
  background-color: #18181b;
  color: #f8f8ff;
  transition: border-color 0.15s;
  font-family: monospace;
}

.layout button:disabled {
  background-color: #202022;
  cursor: default;
  color: #8b8b8c;
}

.layout button:not(:disabled):hover {
  border-color: #c9c9c9;
}

.layout button:not(:disabled):hover {
  border-color: #c9c9c9;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  font-size: 1rem;
  line-height: 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
input {
  margin: 0;
}

.app-header {
  display: flex;
  height: 30px;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid #27272a;
}

.version {
  font-size: 1rem;
  margin: 0;
  margin-left: 12px;
  color: rgb(199, 199, 199);
  font-family: monospace;
}

.discord {
  --social-color: #7289da;
}

.icon {
  position: relative;
  width: 30px;
  height: 30px;
  transition: 0.15s;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.toggle-icons svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.toggle-icons svg:nth-of-type(1) {
  opacity: 1;
}
.toggle-icons svg:nth-of-type(2) {
  opacity: 0;
}

.maximized .toggle-icons svg:nth-of-type(1) {
  opacity: 0;
}

.maximized .toggle-icons svg:nth-of-type(2) {
  opacity: 1;
}

.window-controls-group {
  margin-left: auto;
  display: flex;

  --color: rgb(199, 199, 199);
  --color-hover: rgb(255, 255, 255);
  --bg-color-hover: rgb(41, 41, 41);
}

.window-control {
  color: var(--color);
  background-color: transparent;
}

.window-control:hover,
.window-control:active {
  color: var(--color-hover);
  background-color: var(--bg-color-hover);
}

.window-control-social:hover {
  color: white;
  background-color: var(--social-color);
}

.window-control-close {
  --color-hover: rgb(255, 255, 255);
  --bg-color-hover: red;
}

.layout {
  display: flex;
  height: calc(100% - 31px);
}

.main {
  flex-grow: 1;
  background: #9fb5d6;
}

.aside {
  flex: 0;
  width: 401px;
  background: #111111;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #27272a;
}

.ads {
  flex: 0;
  height: 300px;
  width: 400px;
  background: url(/ads.webp) #3f3f3f;
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.map {
  height: 100%;
  width: 100%;
  background: #9fb5d6 !important;
  outline: none;
}

.status {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #27272a;
  overflow: auto;
}

.game-status {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.game-status.ok,
.game-status.issue {
  opacity: 1;
}

.indicator {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
}

.ok .indicator {
  background-color: #22c55e;
}

.issue .indicator {
  background-color: #f97316;
}

.game-status.issue span:nth-of-type(2) {
  display: none;
}
.game-status.ok span:nth-of-type(3) {
  display: none;
}

.paper {
  background-color: #27272a;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.checkbox {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.description {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #b9b9bd;
}

.location-status {
  color: #71717a;
}

.resize {
  position: fixed;
  z-index: 1000;
}

.maximized .resize {
  display: none;
}

.resize.top {
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  cursor: n-resize;
}

.resize.right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 8px;
  cursor: e-resize;
}

.resize.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  cursor: s-resize;
}

.resize.left {
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  cursor: w-resize;
}

.resize.top-left {
  top: 0;
  left: 0;
  height: 8px;
  width: 8px;
  cursor: nw-resize;
}

.resize.top-right {
  top: 0;
  right: 0;
  height: 8px;
  width: 8px;
  cursor: ne-resize;
}

.resize.bottom-left {
  bottom: 0;
  left: 0;
  height: 8px;
  width: 8px;
  cursor: sw-resize;
}

.resize.bottom-right {
  bottom: 0;
  right: 0;
  height: 8px;
  width: 8px;
  cursor: se-resize;
}
