::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: none;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  opacity: 0.5;
}

body {
  margin: 0;
  background: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

* {
  -webkit-user-drag: none;
}

code {
  color: rgb(112, 180, 202);
}

.tooltip-content code {
  color: rgb(72, 126, 145);
}

button,
input[type="submit"],
.button {
  padding: 0;
  border: none;
}

button:focus,
input[type="submit"]:focus,
.button:focus {
  outline: none;
}

.button {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.layout button,
.layout input[type="submit"],
.button {
  cursor: pointer;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border: 1px solid #77777e;
  border-radius: 0.25rem;
  font-weight: 600;
  background-color: #18181b;
  color: #f8f8ff;
  transition: border-color 0.15s;
  font-family: monospace;
}

.layout button:disabled,
.layout input[type="submit"]:disabled,
.button:disabled {
  background-color: #202022;
  cursor: default;
  color: #8b8b8c;
}

.layout button:not(:disabled):hover,
.layout input[type="submit"]:not(:disabled):hover,
.button:not(:disabled):hover {
  border-color: #c9c9c9;
}

.layout button:not(:disabled):hover,
.layout input[type="submit"]:not(:disabled):hover,
.button:not(:disabled):hover {
  border-color: #c9c9c9;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  font-size: 1rem;
  line-height: 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
input {
  margin: 0;
}

select {
  padding: 0.25rem 0.5rem;
  border: 1px solid #77777e;
  border-radius: 0.25rem;
  font-weight: 600;
  background-color: #18181b;
  color: #f8f8ff;
}

.app-header {
  display: flex;
  height: 30px;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid #27272a;
}

.version {
  font-size: 1rem;
  margin: 0;
  margin-left: 12px;
  color: rgb(199, 199, 199);
  font-family: monospace;
}

.discord {
  --social-color: #7289da;
}

.button.discord {
  background-color: var(--social-color);
}

.icon {
  position: relative;
  width: 30px;
  height: 30px;
  transition: 0.15s;
}

.icon > svg {
  width: 100%;
  height: 100%;
}

.toggle-icons > svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.toggle-icons > svg:nth-of-type(1) {
  opacity: 1;
}
.toggle-icons > svg:nth-of-type(2) {
  opacity: 0;
}

.maximized .toggle-icons > svg:nth-of-type(1) {
  opacity: 0;
}

.maximized .toggle-icons > svg:nth-of-type(2) {
  opacity: 1;
}

.window-controls-group {
  margin-left: auto;
  display: flex;

  --color: rgb(199, 199, 199);
  --color-hover: rgb(255, 255, 255);
  --bg-color-hover: rgb(41, 41, 41);
}

.window-control {
  color: var(--color);
  background-color: transparent;
}

.window-control:hover,
.window-control:active {
  color: var(--color-hover);
  background-color: var(--bg-color-hover);
}

.window-control-social:hover {
  color: white;
  background-color: var(--social-color);
}

.window-control-close {
  --color-hover: rgb(255, 255, 255);
  --bg-color-hover: red;
}

.layout {
  position: relative;
  display: flex;
  height: calc(100% - 31px);
}

.web .layout {
  height: 100%;
}

.main {
  flex-grow: 1;
  background: #9fb5d6;
}

.menu {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  padding: 0.25rem !important;
  z-index: 10000;
}

.aside {
  display: flex;
  width: 401px;
  background: #111111;
  flex-direction: column;
  position: fixed;
  right: -401px;
  top: 30px;
  bottom: 0;
  transition: right ease-in 0.15s;
  z-index: 10000;
  padding-top: 2.5rem;
}

.web .aside {
  max-width: 100%;
  top: 0;
}

@media screen and (min-width: 800px) {
  .layout > .menu {
    display: none;
  }

  .aside {
    right: 0;
  }

  .nitro-video {
    width: 100%;
    height: 220px;
  }
}

@media print {
  .menu,
  .aside,
  .join-community,
  .hint,
  .leaflet-popup-close-button {
    display: none !important;
  }
}

@media screen and (min-width: 400px) {
  .aside {
    border-left: 1px solid #27272a;
  }
}

.open .aside {
  right: 0;
}

.open .layout > .menu {
  display: none;
}

.close .layout > .menu {
  display: flex;
}

.close .aside {
  right: -401px;
}

.banner {
  height: 300px;
  width: 400px;
  background: url(/ads.webp) #3f3f3f;
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.banner a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

.ad-note {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #b9b9bd;
  text-align: center;
}

.ads {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 11000;
  height: 300px;
  width: 400px;
}

.map {
  height: 100%;
  width: 100%;
  background: #9fb5d6 !important;
  outline: none;
}

.stack {
  position: relative;
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #27272a;
  overflow: auto;
}

.aside .menu {
  background: none;
  border: none;
}
.status {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status.ok,
.status.issue {
  opacity: 1;
}

.indicator {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
}

.ok .indicator {
  background-color: #22c55e;
}

.issue .indicator {
  background-color: #f97316;
}

.status.issue span:nth-of-type(2) {
  display: none;
}
.status.ok span:nth-of-type(3) {
  display: none;
}

.paper {
  background-color: #27272a;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.group {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-wrap: wrap;
}

.description {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #b9b9bd;
}

.location-status {
  color: #71717a;
}

.resize {
  position: fixed;
  z-index: 1000;
}

.maximized .resize {
  display: none;
}

.resize.top {
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  cursor: n-resize;
}

.resize.right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 8px;
  cursor: e-resize;
}

.resize.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  cursor: s-resize;
}

.resize.left {
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  cursor: w-resize;
}

.resize.top-left {
  top: 0;
  left: 0;
  height: 8px;
  width: 8px;
  cursor: nw-resize;
}

.resize.top-right {
  top: 0;
  right: 0;
  height: 8px;
  width: 8px;
  cursor: ne-resize;
}

.resize.bottom-left {
  bottom: 0;
  left: 0;
  height: 8px;
  width: 8px;
  cursor: sw-resize;
}

.resize.bottom-right {
  bottom: 0;
  right: 0;
  height: 8px;
  width: 8px;
  cursor: se-resize;
}

.warning {
  text-transform: uppercase;
  color: #f97316;
}

.hidden {
  display: none;
}

.w-sm {
  display: inline-block;
  min-width: 68px;
}

.w-lg {
  display: inline-block;
  width: 180px;
}

.player {
  z-index: 9000;
}

.friend {
  z-index: 8900;
}

.node-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.node-form > label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.node-form > div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.actions {
  display: flex;
}

.actions > * {
  flex: 1;
}

.layout .tooltip-container .actions .tooltip-button {
  border-top: none;
  border-left: 1px solid #77777e;
}

.type-label > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.type-label > div {
  width: 30px;
  height: 30px;
}

.type-label > input:checked ~ div {
  background: #22c55e;
  border-radius: 10px;
}

.types {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.2rem;
}

.node-form .types {
  max-height: 120px;
  overflow: auto;
}
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.hint {
  color: #f97316;
}

.info {
  color: rgb(112, 180, 202);
}

.filter-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #ffffff;
}

.filter > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.type-label > span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0rem 0.5rem;
  border-radius: 10px;
  border: 2px solid #77777e;
  transition: border-color 0.4s;
  font-family: monospace;
  color: #b3b3b4;
  cursor: pointer;
}

.filter > input:checked + .type-label > span {
  border-color: var(--color);
}

.type-label > span::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color);
}

.type-label > input:checked ~ span {
  border-color: var(--color);
  color: white;
}

.contextmenu::before {
  display: none;
}

.contextmenu {
  padding: 0 !important;
  width: 160px;
}

.contextmenu button {
  width: 100%;
  background: none;
  color: rgb(41, 41, 41);
  border: none;
  text-align: center;
}

.contextmenu button:hover {
  background: #f8f8ff;
}

.contextmenu > div {
  display: flex;
  flex-direction: column;
}

.join-community {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  z-index: 10000;
  border-left: 8px solid #7289da;
  padding: 0.5rem;
}

.join-community h2 {
  display: flex;
  align-items: center;
}

.join-community h2 > svg {
  height: 30px;
  width: 30px;
}

.join-community .close {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border: none;
  background: none;
}

.icon {
  position: relative;
  width: 30px;
  height: 30px;
  transition: 0.15s;
}

.icon-anchor {
  height: 2rem;
  display: flex;
}

.icon-anchor > svg {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content {
  margin: 0 !important;
  width: auto !important;

  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.leaflet-popup-content-wrapper,
.leaflet-tooltip {
  border-radius: 6px !important;
  padding: 0 !important;
  border-width: 0 !important;
  overflow: hidden;
  white-space: inherit !important;
}

.leaflet-popup-content {
  font-size: inherit !important;
  line-height: inherit !important;
}

.tooltip-content p {
  margin: 0 !important;
}

.leaflet-popup-tip {
  width: 12px !important;
  height: 12px !important;
  background-color: #18181b !important;
}

.leaflet-popup-close-button {
  margin: 2px;
  background-color: white !important;
  border: 1px solid white;
  border-radius: 50%;
  color: black !important;
}

.zone-label {
  font-family: monospace;
  letter-spacing: 3px;
  text-shadow: 0px 0 1px black, 0px 0 2px black;
  font-size: 1.4em;
  font-weight: 600;
}

.screenshot-preview {
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  height: 120px;
}

.screenshot-preview:hover {
  transform: scale(1.1);
}

.tooltip-container {
  width: 210px;
  min-height: 20px;
  overflow: hidden;
}

.tooltip-content {
  padding: 0.5rem;
}

.screenshot-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10000;
  display: grid;
  place-content: center;
}

.web .screenshot-container {
  top: 0;
}

.screenshot-full {
  width: 100%;
  height: 100%;
  max-width: max-content;
  max-height: max-content;
  object-fit: contain;
}

.tooltip-container a {
  display: block;
  font-style: italic;
  text-decoration: none;
}

#ncmp__tool {
  padding: 0 !important;
}

.aside-headline {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.search {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  border: 1px solid #77777e;
  font-weight: 600;
  border-radius: 0.25rem;
}

.search > svg {
  width: 18px;
  height: 18px;
  margin: 0.2rem;
}

.search > input {
  background: none;
  border: none;
  outline: none;
  color: white;
  width: 120px;
}

.search-results {
  visibility: hidden;
  position: absolute;
  top: 2.5rem;
  z-index: 10;
  width: 100%;
  border: 1px solid #77777e;
  background-color: #18181b;
  color: #f8f8ff;
}

.search-results.visible {
  visibility: visible;
}

.search-result {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  font-size: 0.75rem;
  color: rgb(199, 199, 199);
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
}

.links a {
  /* text-decoration: none; */
  color: rgb(112, 180, 202);
}

.fallback {
  display: none;
  height: 100%;
  width: 100%;
  place-content: center;
  border: 1px solid #77777e;
  border-radius: 0.25rem;
}

.nitro-video.show-fallback .fallback {
  display: grid;
}

a.external-link {
  font-style: normal;
}

a.external-link:after {
  content: " "
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

.layout .tooltip-container .tooltip-button {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #77777e;
  width: 100%;
}

.layout .tooltip-button:not(:disabled):hover {
  border-color: #77777e;
}

.compass {
  position: fixed;
  z-index: 1000;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  mask-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.8),
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.8),
    transparent
  );
  height: 26px;
  width: 70vw;
  overflow: hidden;
  pointer-events: none;
}

.web .compass {
  top: 0.6rem;
}

.compass-needle {
  color: white;
  background-color: #00000031;
  text-align: center;
  display: flex;
  font-size: 1.5rem;
  text-shadow: 0px 0 1px black, 0px 0 2px black;
  transition: background-position-x 0.1s ease-in-out;
  background: url("/compass.webp");
  background-size: 600px 26px;
  height: 100%;
  width: 100%;
  background-position-x: calc(50% + 285px);
}

.compass-needle:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: orangered;
  height: 100%;
}

.layout .copy-button {
  color: #18181b;
  background: none;
  padding: 0;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 11px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.tp-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.warning-content {
  color: rgb(241, 4, 4);
}
